* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* site colors */
    --background-color: #F5F5F5;
    --primary-color: #00A398;
    --secondary-color: #FFA500;
    --accent-color: #009B72;

    /* fonts */
    /* FONTS WILL REQUIRE STYLE LINKS TO BE ADDED TO HTML */
    --hero-font: Amatic SC;
    --header-font: "Josefin Sans";
    --body-font: Quicksand, roboto, arial;

    /*width options*/
    /* use on margin property, it center aligns elements*/
    --center-element: 0 auto;
    /* use on width property */
    --max-width: 1000px;
    --width: 80%;
}

/* GENERAL PAGE STYLING */

body {
    font-family: var(--body-font);
    background-color: var(--background-color);

}

section {
    padding-block: 3rem;
    width: var(--width);
    max-width: var(--max-width);
    margin: var(--center-element);
}

/* HEADING SIZES */

h1 {
    font-size: 3rem;
    color: var(--primary-color);
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: var(--primary-color);
    text-align: center;
}

/* NAVBAR */

header {
    padding-block: 2rem;
    width: var(--width);
    max-width: var(--max-width);
    margin: var(--center-element);
}

nav>p {
    font-family: var(--hero-font);
    color: var(--secondary-color);
    font-size: 4rem;
    font-weight: bolder;
    padding: 0.5rem;
}

nav>p>span {
    font-size: 2rem;
    color: var(--primary-color);
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

nav>ul {
    margin-left: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

nav>ul>li {
    margin: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.5s;
}

nav>ul>li>a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: 0.4s;
}

nav>ul>li>a:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 10%;
    color: var(--secondary-color);
    font-weight: bolder;
    padding: 0.5rem;
}

/* TEAM SECTION */

.profiles__title {
    padding-bottom: 1rem;
}

.team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.team__member {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding-block: 0.5rem;
    background-color: white;
    border-radius: 30px ;
}

.team__pic,
.team__profile,
.team__name,
.team__role {
    width: 100%;
    padding: 0.5rem;
}

.team__pic {
    border-radius: 30px;
    padding-top: 0;
}

.team__name {
    font-family: var(--hero-font);
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: bolder;
}

.team__name > span {
    color: var(--primary-color);
    font-size: 2.5rem
}

.team__role {
    font-weight: bolder;
    font-size: 1.5rem;
    color: var(--accent-color);
}